.App {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.verification {
  text-align: center;
}

.submit-btn {
  margin-top: 20px !important;
}

.modal-hldr {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
}
