input {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 2px solid black;
  border-radius: 3px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;

  &.invalid {
    border: 2px solid red;
  }
}