input {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 2px solid black;
  border-radius: 3px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  margin: 0 7px;
}

input.invalid {
  border: 2px solid red;
}