.alert-main {
  p {
    margin-bottom: 30px;
    font-size: 20px;
  }
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  flex-direction: column;
}