.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-weight: bold;
  }

  .ctrl {
    margin-top: 20px;
    text-align: center;
    button {
      width: 200px;
    }
  }
}
