<div class="main">
  <div class="verification">
    <h1>Verification Code</h1>
    <app-verification [digits]="6"></app-verification>
    <div class="ctrl">
      <button mat-raised-button color="primary" (click)="submit()">
        SUBMIT
      </button>
    </div>
  </div>
</div>
